page-login {
    .fondo { background-color:#fff8ed; }
    .hr {
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
        width: 100%;
      }
    .toolbar-title-md {
        font-size: 2.2rem;
        padding-top: -2px;
        margin-left: -10px;
    }
    h1 {font-size:1.2em; text-align:center;}
}
